<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="modelConnectionString" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataModels.ModelContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>